<%= form_for(@issue_type) do |f| %>
  <% if @issue_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_type.errors.count, "error") %> prohibited this issue_type from being saved:</h2>

      <ul>
      <% @issue_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field input-group form-center">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit Issue Type", :class => 'btn btn-primary blue-btn' %>
    <%= link_to 'Cancel',  issue_types_path, :class => 'btn btn-primary blue-btn' %>
  </div>
<% end %>
