<div class="boxed">
  <div class="main-heading boxed-fill">
  <h3>Forgot Your Password?</h3>
  </div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field input-group form-center">
    <label>Enter your email address to reset password:</label><br />
    <%= f.email_field :email, autofocus: true, :placeholder => 'Email Address', :class => 'form-control text-center' %></div><br />

  <div class="actions">
    <%= submit_tag "Reset Password", :class => 'btn btn-primary blue-btn' %>
    <%= link_to 'Cancel',  root_path, :class => 'btn btn-primary blue-btn' %>
  </div>
<% end %><br />
</div>
