<div class="main-heading">

<span><%= link_to 'Create New Ticket', new_ticket_path, :class => "heading-btn btn btn-primary btn-sm" %></span>
<form class="navbar-form navbar-right spansearch" role="search">
  <div class="form-group">
  <%= search_form_for @q do |f| %>
    <%= f.text_field :name_or_comment_or_user_first_name_or_project_name_or_issue_status_name_cont, placeholder: "Search Tickets", :class => 'form-control' %>
    <%= submit_tag "Search", :class => 'btn btn-default' %>
  <% end %>
</div>
</form>
<h3>All Tickets</h3>
</div>

<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <%= content_tag :th, sort_link(@q, :created_at, 'Date Created'), class: 'date-title' %>
      <%= content_tag :th, sort_link(@q, :project_name, "Project") %>
      <%= content_tag :th, sort_link(@q, :user_first_name, "Assigned To") %>
      <%= content_tag :th, sort_link(@q, :issue_type_name, "Issue Type"), class: 'issuetype-title' %>
      <%= content_tag :th, sort_link(@q, :issue_status_name, "Issue Status") %>
      <%= content_tag :th, sort_link(@q, :name) %>
      <%= content_tag :th, sort_link(@q, :comment), class: 'comment-title' %>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td class="date-column"><%= ticket.created_at.strftime("%b %e, %l:%M %p") %></td>
        <td><%= ticket.project.name %></td>
        <td><%= "#{ticket.user.first_name} #{ticket.user.last_name}" %></td>
        <td class="issuetype-column"><%= ticket.issue_type.name %></td>
        <td><%= ticket.issue_status.name %></td>
        <td><%= ticket.name %></td>
        <td class="comment-column"><%= truncate("#{ticket.comment}", length: 40, omission: '...') %></td>
        <td class="list_actions">
          <div class="btn-group">
            <%= link_to "View", ticket, :class => "btn btn-primary btn-xs" %>
            <%= link_to "Edit", edit_ticket_path(ticket), :class => "btn btn-default btn-xs listaction-display" %>
            <%= link_to "Delete", ticket, method: :delete, data: {confirm: 'Are you sure?' }, :class => "btn btn-primary btn-xs listaction-display" %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="main-heading center_pagination"><span class="custom_pagination"><%= will_paginate @tickets %></span></div>
<br>
