<div class="main-heading">
<h2>All Tickets</h2>
</div>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Issue type</th>
      <th>Issue status</th>
      <th>Name</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= ticket.user_id %></td>
        <td><%= ticket.issue_type_id %></td>
        <td><%= ticket.issue_status_id %></td>
        <td><%= ticket.name %></td>
        <td><%= ticket.comment %></td>
        <td class="list_actions">
          <%= link_to 'Show', ticket %><br/>
        <%= link_to 'Edit', edit_ticket_path(ticket) %><br/>
        <%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="create-ticket">
<%= link_to 'Create New Ticket', new_ticket_path %>
</div>
