<!DOCTYPE html>
<html>
<head>
  <title>Ticketapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <% if user_signed_in? %>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "CQ HelpDesk", root_path, "class" => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown <%= request.url == main_app.root_url || request.fullpath.include?('ticket') ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tickets <span class="caret"></span></a>
          <ul class="dropdown-menu multi-level" role="menu">
            <li><%= link_to 'View All Tickets', tickets_path %></li>
            <li class="divider"></li>
            <li class="dropdown-submenu"><a href="#">Filter By</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu"><a href="#">User</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Josh DaVee', tickets_path( :'q[user_last_name_cont]' => 'DaVee') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Bryce Johnston', tickets_path( :'q[user_last_name_cont]' => 'Johnston') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Paul Stamy', tickets_path( :'q[user_last_name_cont]' => 'Stamy') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Jason Hooper', tickets_path( :'q[user_last_name_cont]' => 'Hooper') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Nathan Woydziak', tickets_path( :'q[user_last_name_cont]' => 'Woydziak') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'John Gibson', tickets_path( :'q[user_last_name_cont]' => 'Gibson') %></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu"><a href="#">Issue Status</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'New', tickets_path( :'q[issue_status_name_cont]' => 'New') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Pending', tickets_path( :'q[issue_status_name_cont]' => 'Pending') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'In Progress', tickets_path( :'q[issue_status_name_cont]' => 'In Progress') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Resolved', tickets_path( :'q[issue_status_name_cont]' => 'Resolved') %></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu"><a href="#">Project</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Main Website', tickets_path( :'q[project_name_cont]' => 'Main Website') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'CQ Portal', tickets_path( :'q[project_name_cont]' => 'Portal') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'CQIQ Website', tickets_path( :'q[project_name_cont]' => 'CQIQ Website') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Ag Dispatching', tickets_path( :'q[project_name_cont]' => 'Dispatching') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Crop Budget', tickets_path( :'q[project_name_cont]' => 'Crop Budget') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Hardware/Software', tickets_path( :'q[project_name_cont]' => 'Hardware/Software') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Paramount Reporting', tickets_path( :'q[project_name_cont]' => 'Paramount Reports') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'SST Summit', tickets_path( :'q[project_name_cont]' => 'SST Summit') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Carbonite', tickets_path( :'q[project_name_cont]' => 'Carbonite') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Phones', tickets_path( :'q[project_name_cont]' => 'Phones') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'CQ HelpDesk', tickets_path( :'q[project_name_cont]' => 'CQ HelpDesk') %></li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li class="dropdown-submenu"><a href="#">Issue Type</a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Feature Request', tickets_path( :'q[issue_type_name_cont]' => 'Feature Request') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Software Bug', tickets_path( :'q[issue_type_name_cont]' => 'Software Bug') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Purchasing Request', tickets_path( :'q[issue_type_name_cont]' => 'Purchasing Request') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Log-in Issues', tickets_path( :'q[issue_type_name_cont]' => 'Log-in Issues') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Email', tickets_path( :'q[issue_type_name_cont]' => 'Email') %></li>
                    <li class="divider"></li>
                    <li><%= link_to 'Internet', tickets_path( :'q[issue_type_name_cont]' => 'Internet') %></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="divider"></li>
            <li><%= link_to 'Create New Ticket', new_ticket_path %></li>
          </ul>
        </li>
        <li class="dropdown <%= current_url?('projects') ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'All Projects', projects_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Create New Project', new_project_path %></li>
          </ul>
        </li>
        <li class="dropdown <%= current_url?('users') ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'All Users', users_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Create New User', new_user_path %></li>
          </ul>
        </li>
        <li class="dropdown <%= current_url?('issue_types') ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Issue Types <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'All Issue Types', issue_types_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Create New Issue Type', new_issue_type_path %></li>
          </ul>
        </li>
        <li class="dropdown <%= current_url?('issue_statuses') ? 'active' : '' %>">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Issue Statuses <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'All Issue Statuses', issue_statuses_path %></li>
            <li class="divider"></li>
            <li><%= link_to 'Create New Issue Status', new_issue_status_path %></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

            <li class="btn-group">
              <button type="button" class="login-btn btn btn-primary"><%= fa_icon "user", :class => 'fa-padding-right' %><%= "#{current_user.first_name} #{current_user.last_name}".upcase %></button>
              <button type="button" class="login-btn btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
            <ul class="dropdown-menu" role="menu">
              <li><i class="fa fa-edit fa-padding-left"><%= link_to ' Update Profile', edit_user_registration_path %></i> </li>
              <li class="divider"></li>
              <li><i class="fa fa-sign-out fa-padding-left"><%= link_to " Logout", destroy_user_session_path, method: :delete  %></i> </li>
            </ul>

        <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= yield %>
</div>

</body>
</html>
